<?xml version="1.0"?>
<config>
    <modules>
        <SP_CustomPayment>
            <version>1.0.0.0</version>
        </SP_CustomPayment>
    </modules>
    <global>
        <blocks>
            <sp_custompayment>
                <class>SP_CustomPayment_Block</class>
            </sp_custompayment>
        </blocks>
        <helpers>
            <sp_custompayment>
                <class>SP_CustomPayment_Helper</class>
            </sp_custompayment>
        </helpers>
        <models>
            <sp_custompayment>
                <class>SP_CustomPayment_Model</class>
            </sp_custompayment>
        </models>
        <resources>
            <sp_custompayment_setup>
                <setup>
                    <module>SP_CustomPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp_custompayment_setup>
            <sp_custompayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp_custompayment_write>
            <sp_custompayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp_custompayment_read>
        </resources>
        <fieldset>
            <sales_convert_quote_payment>
                <custom_field_one>
                    <to_order_payment>*</to_order_payment>
                </custom_field_one>
                <custom_field_two>
                    <to_order_payment>*</to_order_payment>
                </custom_field_two>
            </sales_convert_quote_payment>
        </fieldset>
    </global>
    <frontend>
        <routers>
            <sp_custompayment>
                <use>standard</use>
                <args>
                    <module>SP_CustomPayment</module>
                    <frontName>custompayment</frontName>
                </args>
            </sp_custompayment>
        </routers>
    </frontend>
    <default>
        <payment>
            <sp_custompayment>
                <model>sp_custompayment/standard</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>CUSTOM CARD</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </sp_custompayment>
        </payment>
    </default>
</config> 